@import url(//db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

* {
  font-family: 'AdihausDIN', Helvetica, arial;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: black;
  width: 960px;
  height: 50vh;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px 20px;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-right {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

h2 {
  margin: 0;
}

.actions {
  display: flex;
  gap: 30px;
}

.filled {
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}

.transparent {
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}

.filled:hover, .transparent:hover {
  background-color: #333;
  color: white;
}

